body {
	margin-left: 15px;

}

h1 {
	
}

.start {
	
	margin-top: 50px;
}

.startbtn {

	width: 400px;
	background: fuchsia;
	color: white;
}


.radiobtn {
	margin-right: 5px !important;

}

#question {
	margin-bottom: 20px;
}

.choices {
	font-weight: normal;
	margin: 10px;
}

.submit {
	width: 400px;
	background: aqua;
	color: black;
	border: 1px solid purple;
	margin-top: 20px;
}